@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>This web application is electronic commerce which allows all the users to put their items for sale and they can also buy the items that are kept on sale over the internet using web browser.</p>
