@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/Sale-Free-PNG-Image.png" />
   </div>

<div class="row">
    <div class="col-md-4">

        <img src="~/Content/images/SALE.jpg" />
        <p style="  color: brown;  font-size: 24px;  font-weight: bold;">Big Sale always</p>
    </div>
    <div class="col-md-4">

        <img src="~/Content/images/REIWA-property.jpg" />
        <p style="color: brown; font-size: 24px; font-weight: bold;">Get your item delivered</p>
    </div>
    <div class="col-md-4">

        <img src="~/Content/images/satisfaction.gif" />
        <p style="  color: brown;  font-size: 24px;  font-weight: bold;">Satiscatory items through our web site</p>
    </div>
</div>